
frontend/node_modules
frontend/dist


backend/venv/
backend/__pycache__/
backend/*.pyc
backend/.env

# ML model (optional but recommended)
backend/model.pkl


__pycache__/
*.pyc
.env

# OS files
.DS_Store
Thumbs.db

# IDE files (optional but good)
.vscode/
.idea/